[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytest = "*"
selene = "*"
pytest-env = "*"
allure-pytest = "*"
testcontainers = "*"

[requires]
python_version = "3.7.5"
